           * {
                box-sizing: border-box;
            }
            body {
                margin: 0;
                padding: 0;
                font-family: "a-otf-futo-go-b101-pr6n";
                background-color: #e6e6e6;
            }
            header {
                width: 100%;
                height:45px;
                padding: 10px 4% 10px;
                background-color: #fff;
                position: fixed;
                z-index: 10;
                top: 0;
                display: flex;
                align-items: center;
            }

            

            @media screen and (min-width: 481px){
           
            * {
                box-sizing: border-box;
            }
            body {
                margin: 0;
                padding: 0;
                font-family: "a-otf-futo-go-b101-pr6n";
                background-color: #e6e6e6;
            }
            /*以下headerのcssです*/
            header {
                width: 100%;
                padding: 10px 4% 10px;
                background-color: #fff;
                position: fixed;
                top: 0;
                display: flex;
                align-items: center;
            }


            h1 {
                margin: 0; padding: 10px;
                font-size: 1em;
                font-family: "a-otf-midashi-go-mb31-pr6n";
                white-space:nowrap;
            }
            a {	
                text-decoration: none;
                color: #4b4b4b;
                white-space:nowrap;
            }
            ul{
                list-style: none;
                margin: 0;
                padding:0;
                display: flex;
            }
            .nav-border{
                margin: auto;
                width: 20px;
                height:20px;
                border-right: solid 2px  #4b4b4b;
            }
        

            li {
                margin: 0 0 0 20px;
                font-size: 14px;
            }
            
            .nav-content:hover{
                background-color:rgba(0,0,0,0.1);
            }
            .smart-nav{
                display:none;
            }
            
        }
            @media screen and (max-width: 480px){
            h1 {
                margin: 0; padding: 0;
                font-size: 12px;
                font-family: "a-otf-midashi-go-mb31-pr6n";
            }
            a {	
                text-decoration: none;
                color: #4b4b4b;
                white-space:nowrap;
            }
            ul{
                list-style: none;
                margin: 0;
                padding-left:0;
            }
            li {
                margin: 0 0 0 10px;
                font-size: 5px;
            }
            .nav-content {
                display:none;
            }
            .nav-border{
                display:none;
            }
            .drawer-menu.li{
                border:solid;
                border-right:transparent ;
                border-left:transparent;
                border-top:transparent;
                border:1px;
                border-color:white;
            }
            .drawer-hamburger{
                margin:0 0 auto 0;
            }
            .drawer-overlay{
                background-color: rgba(0,0,0,.1);
            }

            .menu-trigger,
            .menu-trigger span {
            display: inline-block;
            transition: all .4s;
            box-sizing: border-box;
            }
            .menu-trigger {
            position: relative;
            width: 25px;
            height: 25px;
            top:-5px;
            }
            .menu-trigger span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #4b4b4b;
            border-radius: 4px;
            }
            .menu-trigger span:nth-of-type(1) {
            top: 0;
            }
            .menu-trigger span:nth-of-type(2) {
            top: 10px;
            }
            .menu-trigger span:nth-of-type(3) {
            bottom: 0;
            }
            .menu-trigger {
            -webkit-animation: menu-close .1s;
            animation: menu-close .1s;
            }
            .menu-trigger.active {
            -webkit-animation: menu-open .1s;
            animation: menu-open .1s;
            }
            @-webkit-keyframes menu-close {
            30% {
                -webkit-transform: scale(0);
                opacity: 0;
            }
            100% {
                -webkit-transform: scale(1);
                opacity: 1;
            }
            }
            @keyframes menu-close {
            30% {
                transform: scale(0);
                opacity: 0;
            }
            100% {
                transform: scale(1);
                opacity: 1;
            }
            }
            @-webkit-keyframes menu-open {
            30% {
                -webkit-transform: scale(0);
                opacity: 0;
            }
            100% {
                -webkit-transform: scale(1);
                opacity: 1;
            }
            }
            @keyframes menu-open {
            30% {
                transform: scale(0);
                opacity: 0;
            }
            100% {
                transform: scale(1);
                opacity: 1;
            }
            }
            .menu-trigger.active span:nth-of-type(1) {
            -webkit-transform: translateY(10.3px) rotate(-45deg);
            transform: translateY(10.3px) rotate(-45deg);
            opacity:0.5
            }
            .menu-trigger.active span:nth-of-type(2) {
            opacity: 0;
            }
            .menu-trigger.active span:nth-of-type(3) {
            -webkit-transform: translateY(-10.3px) rotate(45deg);
            transform: translateY(-10.3px) rotate(45deg);
            opacity:0.5
            }

            .drawer-overlay {
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                display: none;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .1);
            }
        }